@(urlForm: Form[UrlData], message: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1><a href="/">@message</a></h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        @*<input type="text" name="url-box">*@
        @*<input type="submit" value="Submit">*@
        @helper.form(action = routes.HomeController.urlPost) {
            @helper.inputText(urlForm("url"))
        }
        <br><br>
    </div>
}
